.itemContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.itemDetails {
  display: flex;
}
.figure {
  max-width: 70px;
}
.figure img {
  width: 100%;
  vertical-align: top;
}

.itemName {
  color: #737373;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.95rem;
}
.itemCategory {
  font-size: 0.8rem;
  color: #b2b2b2;
  font-weight: 500;
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quantityBtn {
  padding: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  border: 1px solid #777;
  color: #777;
}

.priceBox {
  color: #737373;
}
.itemBtn {
  padding: 0.5rem;
  border: none;
  color: #fff;
  background-color: #e74848;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 750px) {
  .figure {
    max-width: 90px;
  }
  .itemContainer {
  }
  .item_1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .item_1,
  .item_2 {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  .item_2 {
    padding-left: 10px;
  }
  .item_3,
  .item_4 {
    flex-basis: 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  .item_4 {
    margin-bottom: 10px;
  }
  .item_5 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
