.homeContainer {
  padding-top: 60px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.homeContent {
  padding-left: var(--padding-left-container);
  padding-right: var(--padding-right-container);
  max-width: var(--max-width-container);
}
