.offcanvasContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  transition: all 0.3s ease;
}
.offcanvas_content {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
}

.enter .offcanvasBox {
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}
.enterActive .offcanvasBox {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.enterDone .offcanvasBox {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.exit .offcanvasBox {
  opacity: 1;
}
.exitActive .offcanvasBox {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

/************************************************************/
.enter .offcanvasContent {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
.enterActive .offcanvasContent {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.enterDone .offcanvasContent {
  transition: all 0.3s ease;
}
.exit .offcanvasContent {
  opacity: 1;
}
.exitActive .offcanvasContent {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

@media (max-width: 576px) {
  .offcanvas_content {
    max-width: 100% !important;
  }
}
