.productoCardContainer {
  background: #fff;
  border-radius: 0.3125rem;
}

.subproductoCardContainer {
  padding: 0.9375rem;
  position: relative;
}

.imgProductoCard {
  max-width: 12rem;
  height: 9.375rem;
  margin: 0 auto;
  background: #fff;
  padding: 2% 7.5% 7.5% 7.5%;
}
.photoProduct {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.nameBox {
  height: 2.375rem;
  overflow: hidden;
  line-height: normal;
}
.productName {
  color: #737373;
  font-size: 1rem;
}
.productPrice {
  margin: 0.875rem 0;
}
.productPrice span {
  color: #262626;
}
.productCategory {
  color: #b2b2b2;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.3125rem;
  margin-bottom: 0.625rem;
}

.addCartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background: var(--btn-color);
  border: none;
  padding: 0.5rem 0.625rem;
  border-radius: 0.3125rem;
  margin: auto;
  gap: 0.3125rem;
  transition: all 0.3s ease;
  font-size: 0.875rem;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

.addCartBtn:hover {
  background-color: var(--btn-hover-color);
}

.detailsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.9375rem;
}

.detailsLink {
  text-decoration: none;
  color: #0085ff;
}
