.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.tabs__head {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}
.tabs__toggle {
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #888;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  user-select: none;
}

.tabs__toggle.is_active {
  background-color: #d9e5f9;
  color: #387be2;
}

.tabs__content {
  padding: 1rem 0.5rem;
  color: #212529;
  display: none;
}
.tabs__content.is_active {
  display: block;
  animation: fade 1s ease;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
